@import '../../../../styles/vars.css'; 

.tasksBox {
    width: 60vw;
}

.tabName {
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--font-style-main);
    user-select: none;
}

.taskBox {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    min-height: 60px;
    min-width: 200px;
    border: solid 1px rgb(var(--color-fav-tab));
}

.taskBox:hover {
    box-shadow: rgba(100, 160, 190, 0.4) 5px 5px, 
    rgba(100, 160, 190, 0.3) 10px 10px, 
    rgba(100, 160, 190, 0.2) 15px 15px;
    cursor: pointer;
}
.taskText {
    text-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.taskBox:hover .taskText {
    text-wrap: wrap;
    word-break: break-all;
}

.taskBox>input {
    min-width: 30px;
    margin-right: 10px;
    cursor:pointer;
} 

.taskBox .taskName{
    font-weight: 400;
    font-size: 22px;
}

.taskBox .taskDesc{
    font-size: 15px;
    font-style: italic;
}