:root {
    --font-style-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --color-main: rgb(175, 215, 230);
    --color-fav-tab: 100, 160, 190,1;
}