@import '../../../../styles/vars.css';

.tasksBox {
    width: 60vw;
}

.tabName {
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--font-style-main);
    user-select: none;
}

.taskBox {
    border: groove 3px;
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-height: 60px;
    min-width: 200px;
}

.taskText {
    text-wrap: nowrap;
    overflow: hidden;
}

.taskBox:hover .taskText {
    text-wrap: wrap;
    word-break: break-all;
}

.taskBox>input {
    min-width: 30px;
    margin-right: 10px;
    cursor:pointer;
} 

.taskBox .taskName{
    font-weight: 400;
    font-size: 22px;
}

.taskBox .taskDesc{
    font-size: 15px;
    font-style: italic;
}

.datesContent {
    display:flex;
    flex-direction: column;
    align-self:flex-end;
    margin-bottom: -5px;
    margin-right: -5px;
}

.dateContent {
    background-color: rgb(190, 230, 250);
    width: 125px;
    text-align: end;
    font-size: 10px;
}